# EDA & Feature Engineering 2

## Flight Predictions Dataset

In [1]:
#Dataset: https://github.com/krishnaik06/5-Days-Live-EDA-and-Feature-Engineering

In [11]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

train_df=pd.read_excel(r'C:\Users\admin\Downloads\ML\Flight Prediction\Data_Train.xlsx')
train_df.head()

,Airline,Date_of_Journey,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,Price
0,IndiGo,24/03/2019,Banglore,New Delhi,BLR → DEL,22:20,01:10 22 Mar,2h 50m,non-stop,No info,3897
1,Air India,1/05/2019,Kolkata,Banglore,CCU → IXR → BBI → BLR,05:50,13:15,7h 25m,2 stops,No info,7662
2,Jet Airways,9/06/2019,Delhi,Cochin,DEL → LKO → BOM → COK,09:25,04:25 10 Jun,19h,2 stops,No info,13882
3,IndiGo,12/05/2019,Kolkata,Banglore,CCU → NAG → BLR,18:05,23:30,5h 25m,1 stop,No info,6218
4,IndiGo,01/03/2019,Banglore,New Delhi,BLR → NAG → DEL,16:50,21:35,4h 45m,1 stop,No info,13302

In [12]:
test_df=pd.read_excel(r'C:\Users\admin\Downloads\ML\Flight Prediction\Data_Train.xlsx')
test_df.head()

,Airline,Date_of_Journey,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,Price
0,IndiGo,24/03/2019,Banglore,New Delhi,BLR → DEL,22:20,01:10 22 Mar,2h 50m,non-stop,No info,3897
1,Air India,1/05/2019,Kolkata,Banglore,CCU → IXR → BBI → BLR,05:50,13:15,7h 25m,2 stops,No info,7662
2,Jet Airways,9/06/2019,Delhi,Cochin,DEL → LKO → BOM → COK,09:25,04:25 10 Jun,19h,2 stops,No info,13882
3,IndiGo,12/05/2019,Kolkata,Banglore,CCU → NAG → BLR,18:05,23:30,5h 25m,1 stop,No info,6218
4,IndiGo,01/03/2019,Banglore,New Delhi,BLR → NAG → DEL,16:50,21:35,4h 45m,1 stop,No info,13302

In [13]:
df = train_df.append(test_df)
df.head()

,Airline,Date_of_Journey,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,Price
0,IndiGo,24/03/2019,Banglore,New Delhi,BLR → DEL,22:20,01:10 22 Mar,2h 50m,non-stop,No info,3897
1,Air India,1/05/2019,Kolkata,Banglore,CCU → IXR → BBI → BLR,05:50,13:15,7h 25m,2 stops,No info,7662
2,Jet Airways,9/06/2019,Delhi,Cochin,DEL → LKO → BOM → COK,09:25,04:25 10 Jun,19h,2 stops,No info,13882
3,IndiGo,12/05/2019,Kolkata,Banglore,CCU → NAG → BLR,18:05,23:30,5h 25m,1 stop,No info,6218
4,IndiGo,01/03/2019,Banglore,New Delhi,BLR → NAG → DEL,16:50,21:35,4h 45m,1 stop,No info,13302

In [14]:
df.shape

(21366, 11)

In [15]:
df.columns

Index(['Airline', 'Date_of_Journey', 'Source', 'Destination', 'Route',
       'Dep_Time', 'Arrival_Time', 'Duration', 'Total_Stops',
       'Additional_Info', 'Price'],
      dtype='object')

In [16]:
train_df.shape

(10683, 11)

In [17]:
test_df.shape

(10683, 11)

In [19]:
df.isnull().sum()

Airline            0
Date_of_Journey    0
Source             0
Destination        0
Route              2
Dep_Time           0
Arrival_Time       0
Duration           0
Total_Stops        2
Additional_Info    0
Price              0
dtype: int64

In [21]:
df.dropna(inplace=True)

In [22]:
df.shape

(21364, 11)

In [23]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 21364 entries, 0 to 10682
Data columns (total 11 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Airline          21364 non-null  object
 1   Date_of_Journey  21364 non-null  object
 2   Source           21364 non-null  object
 3   Destination      21364 non-null  object
 4   Route            21364 non-null  object
 5   Dep_Time         21364 non-null  object
 6   Arrival_Time     21364 non-null  object
 7   Duration         21364 non-null  object
 8   Total_Stops      21364 non-null  object
 9   Additional_Info  21364 non-null  object
 10  Price            21364 non-null  int64
dtypes: int64(1), object(10)
memory usage: 2.0+ MB

In [24]:
df.describe()

              Price
count  21364.000000
mean    9087.214567
std     4611.440876
min     1759.000000
25%     5277.000000
50%     8372.000000
75%    12373.000000
max    79512.000000

In [37]:
df['Date'] = df['Date_of_Journey'].str.split('/').str[0]
df['Month'] = df['Date_of_Journey'].str.split('/').str[1]
df['Year'] = df['Date_of_Journey'].str.split('/').str[2]

In [38]:
df['Date'] = df['Date'].astype(int)
df['Month'] = df['Month'].astype(int)
df['Year'] = df['Year'].astype(int)

In [39]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 21364 entries, 0 to 10682
Data columns (total 14 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Airline          21364 non-null  object
 1   Date_of_Journey  21364 non-null  object
 2   Source           21364 non-null  object
 3   Destination      21364 non-null  object
 4   Route            21364 non-null  object
 5   Dep_Time         21364 non-null  object
 6   Arrival_Time     21364 non-null  object
 7   Duration         21364 non-null  object
 8   Total_Stops      21364 non-null  object
 9   Additional_Info  21364 non-null  object
 10  Price            21364 non-null  int64
 11  Date             21364 non-null  int32
 12  Month            21364 non-null  int32
 13  Year             21364 non-null  int32
dtypes: int32(3), int64(1), object(10)
memory usage: 2.2+ MB

In [ ]:
#No of stopping stations is given
#We can drop the arrival time as the duration is given

In [40]:
df.drop('Date_of_Journey',axis=1,inplace=True)

In [42]:
df['Arrival_Time'] = df['Arrival_Time'].apply(lambda x:x.split(' ')[0])

In [43]:
df.shape

(21364, 13)

In [44]:
df.isnull().sum()

Airline            0
Source             0
Destination        0
Route              0
Dep_Time           0
Arrival_Time       0
Duration           0
Total_Stops        0
Additional_Info    0
Price              0
Date               0
Month              0
Year               0
dtype: int64

In [45]:
df['Arrival_Hour'] = df['Arrival_Time'].str.split(':').str[0]
df['Arrival_min'] = df['Arrival_Time'].str.split(':').str[1]
df['Arrival_Hour']=df['Arrival_Hour'].astype(int)
df['Arrival_min']=df['Arrival_min'].astype(int)
df.drop(['Arrival_Time'],axis=1,inplace=True)

In [47]:
df['Dep_Hour'] = df['Dep_Time'].str.split(':').str[0]
df['Dep_min'] = df['Dep_Time'].str.split(':').str[1]
df['Dep_Hour']=df['Dep_Hour'].astype(int)
df['Dep_min']=df['Dep_min'].astype(int)
df.drop(['Dep_Time'],axis=1,inplace=True)

In [49]:
df['Total_Stops'].unique()

array(['non-stop', '2 stops', '1 stop', '3 stops', '4 stops'],
      dtype=object)

In [50]:
df['Total_Stops'] = df['Total_Stops'].map({'non-stop':1, '2 stops':3, '1 stop':2, '3 stops':4, '4 stops':5})

In [52]:
df[df['Total_Stops'].isnull()]

Empty DataFrame
Columns: [Airline, Source, Destination, Route, Dep_Time, Duration, Total_Stops, Additional_Info, Price, Date, Month, Year, Arrival_Hour, Arrival_min]
Index: []

In [53]:
df.drop(['Route'],axis=1,inplace=True)

In [56]:
df['Additional_Info'].unique()

array(['No info', 'In-flight meal not included',
       'No check-in baggage included', '1 Short layover', 'No Info',
       '1 Long layover', 'Change airports', 'Business class',
       'Red-eye flight', '2 Long layover'], dtype=object)

In [58]:
df['Duration_Hour'] = df['Duration'].str.split(' ').str[0].str.split('h').str[0]

In [59]:
df[df['Duration_Hour']=='5m']

,Airline,Source,Destination,Dep_Time,Duration,Total_Stops,Additional_Info,Price,Date,Month,Year,Arrival_Hour,Arrival_min,Duration_Hour
6474,Air India,Mumbai,Hyderabad,16:50,5m,3,No info,17327,6,3,2019,16,55,5m
6474,Air India,Mumbai,Hyderabad,16:50,5m,3,No info,17327,6,3,2019,16,55,5m

In [62]:
df.drop(6474,axis=0,inplace=True)

In [63]:
df['Duration_Hour'] = df['Duration_Hour'].astype(int)

In [64]:
df.drop('Duration',axis=1,inplace=True)

In [65]:
df['Airline'].unique()

array(['IndiGo', 'Air India', 'Jet Airways', 'SpiceJet',
       'Multiple carriers', 'GoAir', 'Vistara', 'Air Asia',
       'Vistara Premium economy', 'Jet Airways Business',
       'Multiple carriers Premium economy', 'Trujet'], dtype=object)

In [66]:
from sklearn.preprocessing import LabelEncoder
lb = LabelEncoder()

In [67]:
df['Airline'] = lb.fit_transform(df['Airline'])
df['Destination'] = lb.fit_transform(df['Destination'])
df['Source'] = lb.fit_transform(df['Source'])
df['Additional_Info'] = lb.fit_transform(df['Additional_Info'])

In [69]:
df.shape

(21362, 13)